.navLink {
  display: block;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
}

.navLink:hover {
  color: rgb(139, 0, 0);
}

.spinner {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
